WCF_Labb_2_Clients/WCF.Hobby.Client/Service References/SearchForChampionsService/SearchForChampionsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetupDict">
        <s:complexType />
      </s:element>
      <s:element name="SetupDictResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetChampionsByYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChampionsByYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChampionsByYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetupDictSoapIn">
    <wsdl:part name="parameters" element="tns:SetupDict" />
  </wsdl:message>
  <wsdl:message name="SetupDictSoapOut">
    <wsdl:part name="parameters" element="tns:SetupDictResponse" />
  </wsdl:message>
  <wsdl:message name="GetChampionsByYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetChampionsByYear" />
  </wsdl:message>
  <wsdl:message name="GetChampionsByYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetChampionsByYearResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchForChampionsServiceSoap">
    <wsdl:operation name="SetupDict">
      <wsdl:input message="tns:SetupDictSoapIn" />
      <wsdl:output message="tns:SetupDictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChampionsByYear">
      <wsdl:input message="tns:GetChampionsByYearSoapIn" />
      <wsdl:output message="tns:GetChampionsByYearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchForChampionsServiceSoap" type="tns:SearchForChampionsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetupDict">
      <soap:operation soapAction="http://tempuri.org/SetupDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChampionsByYear">
      <soap:operation soapAction="http://tempuri.org/GetChampionsByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchForChampionsServiceSoap12" type="tns:SearchForChampionsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetupDict">
      <soap12:operation soapAction="http://tempuri.org/SetupDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChampionsByYear">
      <soap12:operation soapAction="http://tempuri.org/GetChampionsByYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchForChampionsService">
    <wsdl:port name="SearchForChampionsServiceSoap" binding="tns:SearchForChampionsServiceSoap">
      <soap:address location="http://localhost:39910/SearchForChampionsService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchForChampionsServiceSoap12" binding="tns:SearchForChampionsServiceSoap12">
      <soap12:address location="http://localhost:39910/SearchForChampionsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>