WCF_Labb_3/ShipperClient/Service References/TheShipperService/ShipperService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52627/ShipperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindService" />
  <xs:element name="GetShipperByShipperId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipperByShipperIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindService" minOccurs="0" name="GetShipperByShipperIdResult" nillable="true" type="q1:MyShipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindService" minOccurs="0" name="shipper" nillable="true" type="q2:MyShipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShipperResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>