WCF_Labb_3.1/EmployeeClient/Service References/EmpService/EmployerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5265/EmployerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5265/EmployerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5265/EmployerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployerService_GetEmployeeInfoByEmployeeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfoByEmployeeId" />
  </wsdl:message>
  <wsdl:message name="IEmployerService_GetEmployeeInfoByEmployeeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfoByEmployeeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployerService_UpdateEmployeeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="IEmployerService_UpdateEmployeeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployerService">
    <wsdl:operation name="GetEmployeeInfoByEmployeeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployerService/GetEmployeeInfoByEmployeeId" message="tns:IEmployerService_GetEmployeeInfoByEmployeeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployerService/GetEmployeeInfoByEmployeeIdResponse" message="tns:IEmployerService_GetEmployeeInfoByEmployeeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployerService/UpdateEmployeeInfo" message="tns:IEmployerService_UpdateEmployeeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployerService/UpdateEmployeeInfoResponse" message="tns:IEmployerService_UpdateEmployeeInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployerService" type="tns:IEmployerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeInfoByEmployeeId">
      <soap:operation soapAction="http://tempuri.org/IEmployerService/GetEmployeeInfoByEmployeeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeInfo">
      <soap:operation soapAction="http://tempuri.org/IEmployerService/UpdateEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployerService">
    <wsdl:port name="BasicHttpBinding_IEmployerService" binding="tns:BasicHttpBinding_IEmployerService">
      <soap:address location="http://localhost:5265/EmployerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>